<IfModule mod_php5.c>
  php_flag   file_uploads             On
  php_value  default_charset          utf-8
  php_value  max_execution_time       1800
  php_value  max_input_time           1800
  php_value  memory_limit             128M
  php_value  post_max_size            50M
  php_value  upload_max_filesize      20M
  php_flag   display_errors           On
</IfModule>